<section class="banner">
	<div class="container">
    	<div class="row">
        	<h1 class="text-center"><strong class="main-color">Lorem</strong> ipsum dolor <span class="secondary-color">sit amet</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  aliquip ex ea commodo consequat.</p>
        	<img src="images/banner.png" class="img-responsive" alt="banner-1">
        </div>
    </div>
</section>
