<section class="clients">
	<div class="container">
    	<div class="row">
        	<h2 class="text-center">Our Clients
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      		</h2>
            <div class="col-md-3 col-sm-3 col-xs-6">
            	<img src="../images/client-1.png" alt="boxupp" class="img-responsive">
            </div>
             <div class="col-md-3 col-xs-6">
            	<img src="../images/client-2.png" alt="boxupp" class="img-responsive">
            </div>
         </div>
     </div>
</section>