<section class="developers">
	<div class="container">
    	<div class="row">
        	<h2 class="text-center">Developers
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      		</h2>
            
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#boxupp" data-toggle="tab">BoxUpp</a></li>
                <li><a href="#linter" data-toggle="tab">Linter</a></li>
                
			</ul>

<div class="tab-content">
    <div class="tab-pane active" id="boxupp">
   		<div id="myCarousel" class="carousel slide">
    		<div class="col-md-5">
                <h2 class="sub-heading-h2">
                    BoxUpp
                </h2>
                <p class="quote">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit am Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrudet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud. 
                </p>            
             	<!-- Carousel indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>      
               </ol> 
        	</div>
        	<div class="col-md-7">
            	<!-- Carousel items -->
               <div class="carousel-inner">
                  <div class="item active">
                     <img src="images/boxupp-1.png" alt="First slide" class="img-responsive">
                  </div>
                  <div class="item">
                     <img src="images/boxupp-2.png" alt="Second slide" class="img-responsive">
                  </div>
               </div>
               <!-- Carousel nav -->
               <!--<a class="carousel-control left" href="#myCarousel" 
                  data-slide="prev">&lsaquo;</a>
               <a class="carousel-control right" href="#myCarousel" 
                  data-slide="next">&rsaquo;</a>-->
           </div>
        </div> 
    </div>

    <div class="tab-pane" id="linter">
   		<div id="myCarousel" class="carousel slide">
    		<div class="col-md-5 ">
                <h2 class="sub-heading-h2">
                    Linter
                </h2>
                <p class="quote">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit am Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrudet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud. 
                </p>            
             	<!-- Carousel indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>      
               </ol> 
        	</div>
        	<div class="col-md-7 ">
            	<!-- Carousel items -->
               <div class="carousel-inner">
                  <div class="item active">
                     <img src="images/boxupp-1.png" alt="First slide" class="img-responsive">
                  </div>
                  <div class="item">
                     <img src="images/boxupp-2.png" alt="Second slide" class="img-responsive">
                  </div>
               </div>
               <!-- Carousel nav -->
               <!--<a class="carousel-control left" href="#myCarousel" 
                  data-slide="prev">&lsaquo;</a>
               <a class="carousel-control right" href="#myCarousel" 
                  data-slide="next">&rsaquo;</a>-->
           </div>
        </div> 
    </div>
    
</div>
         </div>
     </div>
</section>