<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-6"> 
      		<img src="images/logo.png" alt="boxupp" class="img-responsive">
        <ul class="social-icon">
          <li><a href="http://facebook.com/Boxupp" target="_blank" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://twitter.com/Boxupp" target="_blank" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/3768272?trk=tyah&trkInfo=tarId%3A1403083871999%2Ctas%3Aboxupp%2Cidx%3A1-1-1" class="linkedin-icon" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC4sDBtPgaQZQT3hjiTLSsnA" target="_blank" class="youtube-icon"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
      
      <div class="col-md-2 col-sm-3 col-md-offset-1 col-xs-6">
      	<ul>
        	<li><a href="#">Terms of Service</a></li>
            <li><a href="#">Acceptable Usage Policy</a></li>
            <li><a href="#">Service Level Agreements</a></li>
            <li><a href="#">Antispam Policy</a></li>

        </ul>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-md-2 col-sm-3 col-md-offset-1 col-xs-6">      
      		E-96, Industrial Area, Phase 8<br>
			Mohali - 160071<br>
			Punjab, India
      
    </div>
    <div class="col-md-2 col-sm-3 col-md-offset-1 col-xs-6">      
      		0172-2236044, +91-1244692969<br> info@boxupp.com
      
    </div>
  </div>
  <div class="copyright text-center">
  	Copyright © 2014-2015 Paxcel Technologies (p) Ltd 
  </div>
  </div>
</footer>
