<section class="full-stack">
  <div class="container">
    <div class="row">
      <h2 class="text-center"> The Full Stack DevOps Platform for Dev and Ops
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </h2>
      <div class="col-md-3 col-sm-6 stack-box text-center">
        <div class="icon"> <i class="fa fa-link"></i> </div>
            <h4>Continuous Integration</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <a class="btn-more" href="#">MORE</a> 
        </div>
        
        <div class="col-md-3 col-sm-6 stack-box text-center">
        <div class="icon"> <i class="fa  fa-rocket"></i> </div>
            <h4>Continuous Deployment</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <a class="btn-more" href="#">MORE</a> 
        </div>
        
        <div class="col-md-3 col-sm-6 stack-box text-center">
        <div class="icon"> <i class="fa  fa-dashboard"></i> </div>
            <h4>DevOps Dashboard</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <a class="btn-more" href="#">MORE</a> 
        </div>
        
        <div class="col-md-3 col-sm-6 stack-box text-center">
        <div class="icon"> <i class="fa fa-exchange"></i> </div>
            <h4>Plug &amp; Play</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <a class="btn-more" href="#">MORE</a> 
        </div>
    </div>
  </div>
</section>
