<div class="container1">
       <!-- 	First defining the menu button, which will sit absolutely outside the menu and wrapper. Setting the entire nav outside the wrapper will let me push the wrapper down when toggling -->
    <div id="toggle_m_nav" href="#">
      <div id="m_nav_menu" class="m_nav">
        <div class="m_nav_ham" id="m_ham_1"></div>
        <div class="m_nav_ham" id="m_ham_2"></div>
        <div class="m_nav_ham" id="m_ham_3"></div>
      </div>
    </div>

<!-- This is the general container and content that makes up the navbar itself
 -->

    <div id="m_nav_container" class="m_nav">
    	 <div class="container">
    	<div class="row">
    	  <ul id="m_nav_list" class="m_nav">
        <li class="m_nav_item" id="m_nav_item_1"> <a href="#section_1"> nav_item_1 </a> </li>
        <li class="m_nav_item" id="moble_nav_item_2"> <a href="#section_2"> nav_item_2 </a> </li>
        <li class="m_nav_item" id="moble_nav_item_3"> <a href="#section_3"> nav_item_3 </a> </li>
        <li class="m_nav_item" id="moble_nav_item_4"> <a href="#section_4"> nav_item_4 </a> </li>
        <li class="m_nav_item" id="moble_nav_item_5"> <a href="#section_5"> nav_item_5 </a> </li>
      </ul>
    	</div>
        </div>
    </div>
   
    
</div>