<section class="why-choose">
	<div class="container">
    	<div class="row">
        	<h2 class="text-center">Why Choose Us
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      		</h2>
            <div class="col-md-6 col-sm-6 why-col">
            	<h2 class="sub-heading-h2 text-center">Developers</h2>
            	<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit am Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrudet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud. </p>
                <a class="btn-more" href="#">About More</a>
            </div>
            <div class="col-md-6 col-sm-6 why-col">
            	<h2 class="sub-heading-h2 text-center">DevOps</h2>
            	<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud Lorem ipsum dolor sit am Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrudet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud. </p>
                <a class="btn-more" href="#">About More</a>
            </div>
    	</div>
  	</div>
</section>
  